* {
  background-color: #f2f3f5;
}

ul {
  list-style: none;
}

a {
  font-size: 11pt;
}

h3 {
  font-size: 12pt;
  text-align: center;
}

li:not(:last-child) {
  margin-bottom: 3px;
}

.wrapper {
  margin: 4rem;
}

.header-title {
  text-align: center;
}

.box-wrapper {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.box {
  width: 100%;
  border: 1px solid black;
  padding: 0.5rem;
}

.youtube-link {
  color: #ef476f;
  color: #118ab2;
}

.notion-link {
  color: #ef476f;
}

.github-link {
  color: #06d6a0;
}

.stackoverflow-link {
  color: #0cb0a9;
}

.others-link {
  color: #ff7f50;
}

.leetcode-link {
  color: #cc8899;
}

.google-link {
  color: #073b4c;
}
